/*
 * Menus
 *
 * Description: Styles for nav menus.
 * Version: 1.1.0
 * License: GPL 3.0 or later
 */

$size__nav-spacing: 1;

.nav__list {
	display: flex;
	padding: 0;
	width: 100%;

	a {
		text-decoration: none;
	}
}

.nav__grid {
	display: flex;
	justify-content: space-between;
}

.nav__list-h,
.nav__list-desktop-h {
	flex-wrap: wrap;
	margin: 0;

	a {
		display: block; // Allow padding
		text-decoration: none;
	}

	li {
		list-style: none;
	}
}

.nav__list-desktop-h {
	display: block;
}

.nav-top {
	position: fixed;
	width: 100%;
	z-index: 99;

	.nav__list {
		justify-content: flex-end; // Topbar on the right side.
		margin: 0 auto;
		max-width: 1200px;
		padding: 0.5em 1em;

		li:not(:last-child) {
			margin-right: 1em;
		}
	}
}

/* Toggle button for main menu on mobile. */
.nav-main__toggle {
	border: 0;
	padding: 0;

	&:hover,
	&:focus {
		outline: 0;
	}
}

.nav-main {
	a:focus {
		outline: 0;
	}

	.menu-item {
		a {
			padding: 0.5rem #{$size__nav-spacing + "rem"};
		}
	}

	.sub-menu {
		display: block; // Show drop-down vertically underneath.
		padding: 0;

		.menu-item {
			a {
				padding-left: #{$size__nav-spacing * 2 + "em"};
			}

			.sub-menu {
				.menu-item {
					a {
						padding-left: #{$size__nav-spacing * 4 + "em"};
					}
				}
			}
		}
	}
}

.nav-error {
	ul {
		justify-content: center;

		li:not(:last-child) {
			align-items: center;
			display: flex;
			margin-right: 0.5em;

			&::after {
				content: "\2764";
				font-size: 0.8em;
				margin-left: 0.5em;
			}
		}
	}
}

.nav-breadcrumbs {
	.nav-breadcrumbs__item {

		/* .nav-breadcrumbs__item-first and .nav-breadcrumbs__item-last can be
		used to target the first and last items in the breadcrumb trail,
		respectively. */
		align-items: center;
		display: flex; // Display flex with the separator.

		&:not(.nav-breadcrumbs__item-last)::after {
			content: $font__breadcrumb-sep;
			padding: 0 0.5em;
		}
	}
}

/* Next/Previous posts */
.nav-adjacent {
	.adjacent-item {
		flex: 0 0 50%;
		padding: 0 1rem;

		.adjacent-item__title::before,
		.adjacent-item__title::after {
			font-size: 0.8em; // Relative to parent
		}

		.adjacent-item__meta {
			font-size: 0.8em; // Relative to parent
			margin: 0;
		}
	}
}

.nav-posts,
.nav-post {
	margin-bottom: 0.5em;

	a,
	span {
		&:not(:last-child) {
			margin-right: 0.5em;
		}
	}
}

.nav-comments {
	text-align: center;

	.page-numbers {
		display: inline-block;
		padding: 0.1em 0.4em 0.05em;
	}
}
